{% extends 'base/base.html' %}


{% block aside %}
<li><a href="{% url 'Inicio' %}">Inicio</a></li>
<li class="active"><a href="{% url 'Servicios' %}">Servicios</a></li>
<li><a href="{% url 'CategoriaProducto' %}">Productos</a></li>
<li><a href="{% url 'Contactanos' %}">Contactanos</a></li>
<li><a href="{% url 'QuienesSomos' %}">Quienes Somos</a></li>

{% endblock %}

{% block carrusel %}
{% endblock %}

{% block servicios %}
{% endblock %}

{% block contacto %}
{% endblock %}


{% block quienesSomos %}
<div class="container-fluid my-3 py-2 ">

  
    <div class="row">

    <section class="px-md-5 mx-md-5 dark-grey-text  text-lg-left pb-4"  style="width: 100%;" >
          <div class="col-12 text-center ">
                <h1 class="" style="letter-spacing: 7px; font-weight: lighter; font-style:unset; line-height: 1.5; font-size: 2.5rem;">Servicios</h1>
                <p class="" style="letter-spacing: 3px; font-weight: lighter; font-style:unset; line-height: 1.5; font-size: 1.6rem;">Ofrecemos una amplia gama de servicios y soluciones para nuestros clientes</p>
            </div>
    </section>
  
    
    <section class="px-md-5 mx-md-5 dark-grey-text  text-lg-left"  >
        <hr>
      <div class="col-12">
        <h3 class="font-weight-bold">Nuestros Servicios</h3>
         <p>
            Ofrecemos un completo espectro de servicios para ayudar a que las organizaciones funcionen mejor. Todo, desde la creación de normas de excelencia, hasta capacitar a su gente para trabajar de maneras más efectivas, evaluando cómo lo está haciendo y ayudándole a desempeñarse mejor en el futuro. Muy pocos de los demás hacen esto, y ninguno lo ha hecho por tanto tiempo como nosotros.
         </p>
      </div>
    </section>

 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left" >

      <!--Grid row-->
      <div class="col-12">
        <div class="row align-items-center justify-content-center">

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-lg-0 d-none d-md-block align-items-center justify-content-center">

          <img src="../../static/style_users/img/s_ventateg.jpeg" class="img-fluid" alt="" style="height: 250px;">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6  mb-lg-0">

          <h3 class="font-weight-bold">Venta de tecnología</h3>

        

          <p class="text-muted text-left">Ofrecemos las mejores marcas y precios del país en todo tipo de tecnología informática brindando satisfacción y bajos costos a nuestros clientes.</p>

         

        </div>

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-lg-0 d-block d-md-none align-items-center justify-content-center">

            <img src="../../static/style_users/img/s_ventateg.jpeg" class="img-fluid" alt="" style="height: 250px;">
  
        </div>
      </div>
      </div>
      <!--Grid row-->

      <div class="col-12 d-none d-md-block ">
        <br> <br>
      </div>
   

    </section>
    <!--Section: Content-->
      <!--Section: Content-->
      <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">

        <!--Grid row-->
        <div class="col-12">
          <div class="row align-items-center justify-content-center">
  
  
          <!--Grid column-->
          <div class="col-md-6  mb-lg-0">
  
            <h3 class="font-weight-bold">Servicio técnico</h3>
  
          
  
            <p class="text-muted text-left">Contamos con personal totalmente capacitado para brindar un servicio de calidad en mantenimiento y prevención de todo tipo de productos tecnológicos al menor costo posible.</p>
  
           
  
          </div>
          <!--Grid column-->
          <div class="col-md-6 mb-4 mb-lg-0 d-flex align-items-center justify-content-center">
  
            <img src="../../static/style_users/img/s_mantenimiento1.jpeg" class="img-fluid" alt="" style="height: 250px; width: 400px;">
  
          </div>
        </div>
        </div>
        <!--Grid row-->
      
  
      </section>

      <!--  -->
      <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">

        <!--Grid row-->
        <div class="col-12">
          <div class="row align-items-center justify-content-center">
  
          <!--Grid column-->
          <div class="col-md-6 mb-4 mb-lg-0  d-none d-md-block align-items-center justify-content-center">
  
            <img src="../../static/style_users/img/s_accesorios.jpeg" class="img-fluid" alt="" style="height: 350px; width: 400px;">
  
          </div>
          
          
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-6  mb-lg-0">
  
            <h3 class="font-weight-bold">Accesorios </h3>
  
          
  
            <p class="text-muted text-left">Brindamos una alta variedad en accesorios para todo tipo de tecnología brindando un servicio completo a nuestros clientes.</p>
  
           
  
          </div>
          <div class="col-md-6 mb-4 mb-lg-0 d-flex d-block d-md-none align-items-center justify-content-center">
  
            <img src="../../static/style_users/img/s_accesorios.jpeg" class="img-fluid" alt="" style="height: 300px; width: 400px;">
  
          </div>
          <!--Grid column-->
        </div>
        </div>
        <!--Grid row-->
      
  
      </section>



  </div>
</div>
{% endblock %}

{% block categoriaProducto %}


{% endblock %}