{% load staticfiles %}
<section id="featured" class="featured">
    <div class="container">

       <div class="section-title" data-aos="fade-up">
        <h2>Quienes Somos</h2>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="icon-box">
            <i class="icofont-computer"></i>
            <h3><a href="">Compromiso</a></h3>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="icofont-image"></i>
            <h3><a href="">Confiable</a></h3>
            <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="icofont-tasks-alt"></i>
            <h3><a href="">Seguro</a></h3>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          </div>
        </div>
      </div>

    </div>
  </section>