{% extends 'base/base.html' %}

{% block title%} Soptec Pc - Términos y condiciones{%endblock%}

{% block aside %}
<li><a href="{% url 'Inicio' %}">Inicio</a></li>
<li><a href="{% url 'Servicios' %}">Servicios</a></li>
<li><a href="{% url 'CategoriaProducto' %}">Productos</a></li>
<li><a href="{% url 'Contactanos' %}">Contactanos</a></li>
<li><a href="{% url 'QuienesSomos' %}">Quienes Somos</a></li>

{% endblock %}

{% block carrusel %}
{% endblock %}

{% block servicios %}
{% endblock %}

{% block contacto %}
{% endblock %}

{% block quienesSomos %}
{% endblock %}

{% block extracss %}
<style></style>
{% endblock %}


{% block terminosServicios %}
<section id="contact" class="contact">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <br>
      <h2 class="d-none d-lg-block">Términos y condiciones</h2>
      <h2 class="d-lg-none" style="font-size: 20px !important;">Terminos y condiciones</h2>
    </div>

    <div class="row" style="margin-top: -25px;">
      <div class="col-12">

        <p>Se describe los términos y condiciones generales aplicables al uso de los contenidos, productos y servicios ofrecidos a través del sitio  <a href="https://soptecpc.com/">www.soptecpc.com</a>, de cuál es titular SopTec pc.</p>
        <p style="margin-top: -10px;">Al visitar nuestro sitio o utilizar los servicios de SopTec pc, usted acepta en su nombre y en el de todos los miembros de su hogar u otras personas que utilicen cualquier servicio con su cuenta, las siguientes condiciones adicionales incluidos los términos y las políticas establecidas aquí.</p>

        <h5 style="margin-top: -10px; font-weight: 600;">Información relevante </h5>

        <ul>
            <li>Por favor, lea atentamente los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios, así como la compra de nuestros productos implicará que usted ha leído y aceptado los Términos y Condiciones de Uso que en algunos casos pueden aplicarse condiciones adicionales.</li>

            <li>SopTec pc es una empresa dedicada a la venta de productos y servicios informáticos con los más altos estándares de calidad a precios muy cómodos. Su objetivo primordial es vender sus distintos productos a través de una tienda online dirigido a la República del Ecuador mediante un aplicativo web y móvil de manera eficiente y eficaz.</li>

            <li>El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en cualquier momento, en caso de que se haya registrado y que sea necesario para la compra de alguno de nuestros productos tecnológicos o servicios no asume la responsabilidad en caso de que entregue dicha clave a terceros.</li>

            <li>Todas las compras y transacciones que se lleven a cabo por medio de este sitio web, están sujetas a un proceso de confirmación y verificación, el cual podría incluir la verificación del stock y disponibilidad de producto, validación de pago, y el cumplimiento de las condiciones requeridas por el medio de pago seleccionado. En algunos casos puede que se requiera una verificación por medio de correo electrónico.</li>

            <li>Los precios de los productos ofrecidos en esta Tienda Online son válidos solamente en las compras realizadas en este sitio web.  </li>
          
        </ul>

        <h5 style="margin-top: -10px; font-weight: 600;">Términos de uso</h5>
        <ul>
          <li>
            El acceso y uso del aplicativo web y móvil de SopTec pc y la creación de la cuenta personal cuando requiere realizar una compra por parte del usuario, implica que usted ha aceptado de forma libre y voluntaria los términos y condiciones generales además de la política de privacidad y tratamiento de datos personales.
          </li>
        </ul>

        <h5 style="margin-top: -10px; font-weight: 600;">Tu cuenta</h5>
        <ul>
          <li>
            Para utilizar el servicio de venta online de SopTec pc, es necesario llenar el formulario de compra incluyendo tu cuenta bancaria como método de pago.
          </li>
        </ul>

        <h5 style="margin-top: -10px; font-weight: 600;">Términos de la tienda online</h5>
        <ul>

          <li>
            Al aceptar estas Condiciones del servicio, usted declara que tiene por lo menos la mayoría de edad en la República del Ecuador y ha dado su consentimiento para permitir cualquiera de sus dependientes menores para usar este sitio.
          </li>

          <li>
            Usted no puede usar nuestros productos para ningún propósito ilegal o no autorizado, ni violar cualquier ley en su jurisdicción.
          </li>

          <li>
            Una infracción o violación de cualquiera de los Términos resultará en la terminación inmediata de sus Servicios.
          </li>
        </ul>

        <h5 style="margin-top: -10px; font-weight: 600;">Uso no autorizado </h5>
        <ul>

          <li>
            En caso de que aplique una venta u otro servicio usted no puede hacer uso de esta información en ningún sitio web o ningún otro medio y ofrecerlos para la redistribución o la reventa de ningún tipo.
          </li>

        </ul>

        <h5 style="margin-top: -10px; font-weight: 600;">Precio de los productos </h5>
        <ul>

          <li>
            Todos los precios de los productos que oferta SopTec pc son los mismos precios que está a la venta del público. El Cliente Registrado tiene la potestad de comunicarse con SopTec pc para confirmar el precio del mismo antes de la compra final. Sabiendo que el precio puede variar en tiempo real y en función del establecimiento que los vende y el stock disponible.
          </li>

        </ul>

        <h5 style="margin-top: -10px; font-weight: 600;">Marcas registradas </h5>
        <ul>

          <li>
            Puedes consultar un listado de las marcas de SopTec pc en el siguiente enlace. De forma adicional, los gráficos, logotipos, encabezados de página, iconos de botón, scripts y nombres de servicio que aparecen incluidos o están disponibles a través de los Servicios de SopTec pc son marcas registradas o representan la imagen comercial de SopTec pc. No podrán utilizarse las marcas registradas ni la imagen comercial de SopTec pc en relación con ningún producto o servicio que no pertenezca a SopTec pc, ni en ninguna forma que fuera susceptible de causar confusión entre los usuarios o que pueda menospreciar o desacreditar a SopTec pc. 
          </li>

        </ul>

        <h5 style="margin-top: -10px; font-weight: 600;">Política de reembolso y garantía  </h5>
        <ul>

          <li>
            En el caso de productos que sean mercancías irrevocables no tangibles, no existirá reembolsos después de que se envíe el producto. Le pedimos que lea cuidadosamente la descripción antes de comprarlo. Solo se aceptará excepciones cuando la descripción no se ajusta al producto.
          </li>

          <li>
            Algunos productos que pudieran tener garantía se especificaran al comprar el producto, en la cual cubrirá fallas de fabrica en caso de ser necesario caso contrario no cubrirá daños ocasionados por uso indebido.
          </li>

        </ul>

        <h5 style="margin-top: -10px; font-weight: 600;">Privacidad </h5>
        <ul>

          <li>
            SopTec pc garantiza que la información personal que usted envía cuenta con la seguridad necesaria. Los datos ingresados por usuario o en el caso de requerir una validación de los pedidos no serán entregados a terceros, salvo que deba ser revelada en cumplimiento a una orden judicial o requerimientos legales.
          </li>

        </ul>

        <p>
          SopTec pc se reserva los derechos de cambiar o de modificar estos términos sin previo aviso.
        </p>

    </div>
    </div>


     
      

 
   
  </div>
</section>
{% endblock %}

{% block categoriaProducto %}


{% endblock %}