<div class="modal fade cerrar_modals" id="ModalCard-{{p.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true"style="overflow-y: auto;z-index: 10000;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="card card-cascade narrower">

                <!-- Card image -->
                <div class="view view-cascade overlay">

                    <img class="card-img-top d-none d-md-block" src="{{p.imagen.url}}" alt="Card image cap"
                        style="height: 300px; width: 400px; margin: 0 auto; padding-top: 55px;">
                    <img class="card-img-top d-block d-md-none" src="{{p.imagen.url}}" alt="Card image cap"
                        style="height: 300px; width: 300px; margin: 0 auto; padding-top: 55px;">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade">

                    <!-- Title -->
                    <h4 class="card-title" style="font-weight: 500;">{{p.nombre}}</h4>
                    <hr>
                    <!-- Text -->
                    <span style="font-size: 18px;">Caracteristicas</span>
                    <p class="card-text">{{p.descripcion}}</p>
                    <!-- Button -->
                    <div>
                        <div style="font-size: 25px; padding-top: 15px; float: left; position: absolute; left: 18px; bottom: 38px;"
                            class="text-success">
                            ${{p.precio}}
                        </div>

                        <a title="Agregar"
                            style="float: right; font-size: 50px; padding-right: 5px;" class="text-dark" data-toggle="modal" data-target="#ModalCardIni-{{p.id}}">
                            <i class="icofont-plus-circle"></i>
                        </a>

                        <a data-dismiss="modal" style="font-size: 25px; position: absolute; right: 20px; top: 10px;"><i
                                class="icofont-ui-close"></i>
                        </a>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade cerrar_modals" id="ModalCardIni-{{p.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="overflow-y: auto;z-index: 10001;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="card card-cascade narrower">

                <!-- Card image -->
                <div class="view view-cascade overlay">

                    
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                    
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade text-center">

                    <!-- Title -->
                    <i class="fa fa-exclamation-triangle fa-3x text-center pt-5 pb-3" style="text-align: center; margin: 0 auto; color: rgba(240, 189, 3,1);"></i>
                    <h3 class="card-title" style="font-weight: 500;">Debe iniciar sesión para continuar?</h3>
                    
               
                    <div>

                        <a data-dismiss="modal" style="font-size: 25px; position: absolute; right: 20px; top: 10px;"><i
                                class="icofont-ui-close"></i>
                        </a>

                        <button data-dismiss="modal" class="btn btn-dark" style="width: 70px; height: 40px; padding:0">Cerrar</button>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

