{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Soptec PC - Error 500</title>
    <link rel="icon" href="../../static/soptec1.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet"> 
    <link href="{% static 'errores/500/style.css' %}" rel="stylesheet">

</head>
<body>

    <div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>5<span>0</span>0</h1>
			</div>
			<p>Lo sentimos a ocurrido un error interno en el servidor, por favor vuelva a intertarlo ..</p>
			<a href="https://soptecpc.com/">pagina principal</a>
		</div>
	</div>
    
</body>
</html>