{% extends 'base/base.html' %}

{% block title%} Soptec Pc - Politica de privacidad{%endblock%}

{% block aside %}
<li><a href="{% url 'Inicio' %}">Inicio</a></li>
<li><a href="{% url 'Servicios' %}">Servicios</a></li>
<li><a href="{% url 'CategoriaProducto' %}">Productos</a></li>
<li><a href="{% url 'Contactanos' %}">Contactanos</a></li>
<li><a href="{% url 'QuienesSomos' %}">Quienes Somos</a></li>

{% endblock %}

{% block carrusel %}
{% endblock %}

{% block servicios %}
{% endblock %}

{% block contacto %}
{% endblock %}

{% block quienesSomos %}
{% endblock %}

{% block extracss %}
<style></style>
{% endblock %}


{% block terminosServicios %}
<section id="contact" class="contact">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <br>
      <h2 class="d-none d-lg-block">Politica de privacidad</h2>
      <h2 class="d-lg-none" style="font-size: 20px !important;">Politica de privacidad</h2>
    </div>

    <div class="row" style="margin-top: -25px;">
      <div class="col-12">

        <h5 style="margin-top: -10px; font-weight: 600;">Aviso de privacidad de SopTec pc</h5>

        <ul>
            <li>SopTec pc está consciente de la importancia que representa para usted el manejo que le damos a su información personal y la manera en que la compartimos con el debido cuidado y prudencia, agradeciendo su confianza.</li>

            <li>Este Aviso de Privacidad describe cómo SopTec pc independientemente de cómo accedas a estos Servicios o cómo los utilices recopilan y procesan su información personal a través de sitios web, dispositivos, productos, servicios, tiendas en línea que hacen referencia a este Aviso de Privacidad.</li>

            <li>La presente Política de Privacidad y Tratamiento de Datos Personales entrará en vigor desde el momento en que el cliente preste su consentimiento al hacer uso del aplicativo web y móvil y se presentará como vigente hasta que el propio cliente revoque la autorización al tratamiento de sus datos personales en la plataforma que opera.
            </li>

            <li>Mantener la privacidad y confidencialidad de la información personal otorgada por el cliente es muy importante para la empresa SopTec pc. Razón por la cual se toman las debidas precauciones y recaudos para resguardar la información, mediante el uso de mecanismos de seguridad informática de protección de la información implementados en la plataforma a operar.</li>
          
        </ul>

        <h5 style="margin-top: -10px; font-weight: 600;">Información personal </h5>
        <ul>
          <li>
            Para hacer uso del sitio web es necesario un registro por parte de los clientes, es aquí donde el Cliente otorga algunos datos personales a SopTec pc. Según la presente Política, SopTec pc podrá solicitar, recabar y almacenar los datos proporcionados, los mismos que incluyen: nombres, apellidos, correo electrónico y contraseña el cual se utilizará para operar dentro del aplicativo, SopTec pc NO recurrirá a entidades externas (entidades públicas, compañías especializadas o centrales de riesgos) para corroborar o confirmar dicha información proporcionada por el Usuario.
          </li>
        </ul>

        <h5 style="margin-top: -10px; font-weight: 600;">Menores de edad</h5>
        <ul>
          <li>
            El aplicativo web y móvil restringe el uso de sus servicios a menores de 18 años, enfocando sus servicios estrictamente a personas mayores de 18 años. Si perjuicio de la anterior, SopTec pc <strong>No </strong>corrobora y/o verifica por ningún medio si la edad proporcionada por el Usuario sea real.
          </li>
        </ul>

        <h5 style="margin-top: -10px; font-weight: 600;">Finalidad</h5>
        <p>Tratamos tu información personal para prestar y mejorar los Servicios de SopTec pc con el fin de brindar un servicio eficiente y eficaz. La información personal recabada por la empresa tiene el siguiente propósito:</p>
        <ul style="margin-top: -12px;">

          <li>
            <span style="font-weight: 600;">Compra y entrega de productos y servicios: </span> utilizamos tu información personal para aceptar y gestionar pedidos, entregar productos y servicios, procesar pagos y comunicarnos contigo en relación con pedidos, productos, servicios y ofertas promocionales.
          </li>

          <li>
            <span style="font-weight: 600;">Comunicarnos contigo:</span> utilizamos tu información personal para comunicarnos contigo en relación con los Servicios de SopTec pc a través del correo electrónico.
          </li>

          <li>
            <span style="font-weight: 600;">Confidencialidad de la información personal:</span> dado el proceso de registro por parte del cliente, SopTec pc se compromete a NO vender, traficas, intercambiar, alquilar o compartir la Información Personal recopilada, excepto al uso ya establecido y redactado en la presente Política. En caso de presentarse situaciones relacionales con órdenes judiciales y que aplique la ley, SopTec pc no podrá revelar la Información Personal a terceras personas sin el previo consentimiento del Usuario.

          </li>

          <li>
            SopTec pc no realiza análisis complejos con los datos y la Información personal recopilada de los Usuarios.
          </li>
        </ul>

        <h5 style="margin-top: -10px; font-weight: 600;">Clave personal</h5>
        <ul>

          <li>
            Para que el cliente accede y haga uso del sitio web y móvil, el Usuario dispondrá de una clave personal con la que podrá realizar una compra online. El Usuario es el único responsable de su clave y de mantener su absoluta confidencialidad lo cual incluye NO revelar bajo ningún concepto su clave a terceras personas. 
          </li>

          <li>
            En caso de hacerlo y que la misma sea utilizada de forma inadecuada el Cliente será el único responsable del hecho y debe responder por la situación.
          </li>

          <li>
            En caso de que el Cliente sospeche que un tercero conoce su clave deberá proceder de forma inmediata a la opción de modificación disponible en el aplicativo web o móvil.
          </li>

        </ul>

        <h5 style="margin-top: -10px; font-weight: 600;">Supresión de los datos </h5>
        <ul>

          <li>
            La información personal será dada de baja por parte de SopTec pc, en caso de que la Cuenta Personal y el Cliente infrinja en actos inadecuados.
          </li>

        </ul>

        <h5 style="margin-top: -10px; font-weight: 600;">Seguridad y almacenamiento de la información personal</h5>
        <ul>

          <li>
            Según la establecido en la ley y normativas aplicables en materia de protección de datos personales, la empresa SopTec pc está obligado a cumplir con los que rige la ley de seguridad de datos. SopTec utilizará los estándares aplicados en la industria del desarrollo de software para complementar la protección de la Información Personal, incluyendo medidas de protección como cortafuegos y Secure Socket Layers (SSL).  Sin razón de perjuicio, SopTec pc aclara que al ser Internet un ambiente abierto, NO garantiza que terceros no autorizados accedan a la Información Personal y que la misma sea utilizada indebidamente.
          </li>

          <li>
            SopTec no se hace responsable en caso de que la Información Personal contenida en nuestras bases de datos sea interceptada de forma ilegal por personas no autorizadas, SopTec tampoco se hace responsable por la indebida utilización de la misma.
          </li>

        </ul>

    </div>
    </div>


     
      

 
   
  </div>
</section>
{% endblock %}

{% block categoriaProducto %}


{% endblock %}