<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content" style="border-radius: 20px 20px 0 0">
        <div class="modal-header" style="background-color: rgb(60, 141, 188); color: white; border: none !important;">
            <h2 class="modal-title">Comprobante</h2>
            <button style="color: white;" class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {% if comprobante %}
            {% for c in comprobante %}

            {% if c.imagen %}

            <img src="{{c.imagen.url}}" alt="image" class="img-thumbnail"
                style="max-width: 100%; height: 400px; margin: 0 auto;" />
            {% else %}
            {% endif %}

            {% endfor %}
            {% endif %}

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal"
                style="width: 200px;">Confirmar</button>

        </div>

    </div>
</div>