{% extends 'restablecer/index.html' %}

{% block content %}
<!---->

{% if validlink %}
<form method="POST">
    {% csrf_token %}
    <!-- Ya django se encarga-->

    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-12 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5"
                            style="border: 1px solid ; background-color: rgb(255, 255, 255); height: 350px;">
                            <div class="brand-logo">
                                <h2 style="color: black; text-align: center;">Cambiar Contraseña</h2>
                            </div>
                            <h6 style="text-align: center; color: rgb(136, 128, 128);" class="font-weight-light">Ingresa
                                una nueva contraseña para
                                tu cuenta</h6><br>
                            <form method="POST" id="cambio_pass_confirm">
                                {% csrf_token %}
                                <div class="form-group" style="margin-top: -10px;">
                                    <input required type="password" autocomplete="off"
                                        class="form-control form-control-lg" id="exampleInputPassword1"
                                        name="new_password1" minlength="8"
                                        title="Ingresa una contraseña entre 8 y 12 caracteres con letras, números y simbolos."
                                        placeholder="Ingrese una nueva contraseña">
                                    <!-- De esta manera django valida-->

                                    {{form.new_password1_errors}}
                                </div>
                                <div class="form-group">
                                    <input required type="password" autocomplete="off"
                                        class="form-control form-control-lg" id="exampleInputPassword1"
                                        name="new_password2" minlength="8"
                                        title="Ingresa una contraseña entre 8 y 12 caracteres con letras, números y simbolos."
                                        placeholder="Confirme su contraseña">
                                    <!---->
                                    {{form.new_password2_errors}}
                                </div>
                                <div class="mt-3">
                                    <button type="submit"
                                        class="btn btn-block btn-success btn-lg font-weight-medium auth-form-btn">Guardar
                                        contraseña</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
</form>
<!---->
{% else %}
<!---->
<h4>Este enlace ya a sido utilizado, prueba con otro</h4>
{% endif %}
<!---->
{% endblock %}