{% extends 'restablecer/index.html' %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <!---->
    <div class="container" style="margin: 0 auto;">
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
                <div class="content-wrapper d-flex align-items-center auth px-0">
                    <div class="row w-100 mx-0">
                        <div class="col-lg-12 mx-auto">
                            <div class="auth-form-light text-left py-5 px-4 px-sm-5"
                                style="border: 1px solid ; background-color: rgb(255, 255, 255); height: 350px;">
                                <div class="brand-logo">
                                    <h2 style="color: black; text-align: center;">
                                        <b>Cambiar
                                            Contraseña
                                        </b>
                                    </h2>
                                </div>
                                <h6 style="text-align: center; color: rgb(136, 128, 128);"
                                    class="font-weight-light mt-4 ">Te enviaremos
                                    un
                                    enlace a tu
                                    correo para que cambies tu contraseña.</h6>
                                <form method="POST" id="email_cambio_pass">
                                    {% csrf_token %}
                                    <div class="form-group" style="margin-top: 30px;">
                                        <input autocomplete="off" type="email"
                                            title="Ingresa un E-mail válido, ejem: leonardo@gmail.com"
                                            class="form-control form-control-lg" id="exampleInputEmail1" name="email"
                                            placeholder="Ingresa tu Email">
                                        <!---->
                                    </div>
                                    <div class="mt-3">
                                        <button type="submit"
                                            class="btn btn-block btn-success btn-lg font-weight-medium auth-form-btn">Enviar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
</form>
{% endblock %}